<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Journeys.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Journeys.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Journeys.Service.Properties.Settings>
            <setting name="EventFilePath" serializeAs="String">
                <value>../data/events.txt</value>
            </setting>
            <setting name="HostUri" serializeAs="String">
                <value>http://localhost:65363</value>
            </setting>
            <setting name="UrlReservationUser" serializeAs="String">
                <value>Mors</value>
            </setting>
        </Journeys.Service.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Journeys.Service.Properties.Settings>
            <setting name="SitePath" serializeAs="String">
                <value>../../Journeys.Client.Web/</value>
            </setting>
        </Journeys.Service.Properties.Settings>
    </userSettings>
</configuration>