<div id="calendar" class="col-md-9">
    <h1>Journeys</h1>
    <h2>{{passenger.Name}}</h2>
    <div data-calendar data-month="month" data-year="year">
        <div data-calendar-header>
            <button data-ng-click="calendar.previousMonth()">&lt;</button>
            {{$monthName}} {{$year}}
            <button data-ng-click="calendar.nextMonth()">&gt;</button>
        </div>
        <div data-calendar-item>
            <div data-ng-if="$isInsideCalendarMonth">
                <div>
                    {{$date}}
                </div>
                <div data-ng-if="journeys[passenger.OwnerId][$year][$month][$date]">
                    {{ journeys[passenger.OwnerId][$year][$month][$date].LiftCount }} /
                    {{ journeys[passenger.OwnerId][$year][$month][$date].LiftDistance }}
                </div>
                <div data-ng-if="journeys[passenger.OwnerId][$year][$month][$date]">
                    {{ journeys[passenger.OwnerId][$year][$month][$date].JourneyCount }} /
                    {{ journeys[passenger.OwnerId][$year][$month][$date].JourneyDistance }}
                </div>
            </div>
        </div>
    </div>
</div>